.pathFinderBoard{
    position:relative;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(15,1fr);
    font-size: 26px;
    background-color: #5DADE2;
}