.board_miniBoard{
  box-sizing:border-box;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(1, 1fr);
  z-index:1;
}
.board_miniBoard-number{
  display:flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 100%;
  border:1px solid black;
}
.board_miniBoard-input{
  padding:0px;
  display:flex;
  border:1px solid black;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align:center;
  background-color:transparent;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
 -webkit-appearance: none;
  margin: 0;
}
.board_frame-container{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows:repeat(3,1fr);
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:0;
}
.board_frame{
  width:100%;
  height:100%;
  box-sizing:border-box;
}
.board_frame-top{
  border-top:4px solid black;
}
.board_frame-bottom{
  border-bottom:4px solid black;
}
.board_frame-left{
  border-left:4px solid black;
}
.board_frame-right{
  border-right:4px solid black;
}
  
  